<div class="response-container" style="width: 33%;">
    <div class="reponse-inner-header"  style="width: 31%" ><label for="">Frequency : </label></div>
    <div class="response-inner-content">
        <div>
            <select name="frequency" id="freq_code" class='sub_table'>
                {% for frequency in frequencies %}
                    <option value="{{ frequency.name }}"
                            style="outline: none !important;">{{ frequency.name }}</option>
                {% endfor %}
            </select>
        </div>

    </div>
</div>