<div class="response-container" style="width: 33%;">
    <div class="reponse-inner-header"><label for="">Report Type : </label></div>
    <div class="response-inner-content">
        <div>
            <select data-placeholder="Begin typing a name to filter..."
                    class='sub_table' name="report type" id="type_code">
                {% for report in report_types %}
                    <option value="{{ report.name }}" style="outline: none !important;">
                        {{ report.name }}
                    </option>
                {% endfor %}
            </select>
        </div>

    </div>
</div>