{% load static %}

<script src="{% static 'Associate_app/js/js_imports/http_code.jquery.com_jquery-3.5.1.js' %}"></script>

<script src="{% static 'Associate_app/js/js_imports/http_cdn.rawgit.com_harvesthq_chosen_gh-pages_chosen.jquery.js' %}"></script>
<script src="{% static 'Associate_app/js/js_imports/http_code.jquery.com_ui_1.12.1_jquery-ui.js' %}"></script>
<script src="{% static 'Associate_app/js/js_imports/http_cdn.jsdelivr.net_momentjs_2.14.1_moment.min.js' %}"></script>
<script src="{% static 'Associate_app/js/pop.js' %}"></script>
<script src="{% static 'Associate_app/js/js_imports/http_kit.fontawesome.com_a076d05399.js' %}"></script>

<script src="{% static 'Associate_app/js/jquery.flexdatalist.js' %}"></script>

<script src="{% static 'Associate_app/js/js_imports/http_cdnjs.cloudflare.com_ajax_libs_bootstrap-datetimepicker_4.17.37_js_bootstrap-datetimepicker.min.js' %}"></script>
<script src="{% static 'Associate_app/js/js_imports/http_unpkg.com_webcam-easy_dist_webcam-easy.js' %}"></script>


<script src="{% static 'Associate_app/js/c-val-js.js' %}"></script>
<script src="{% static 'Associate_app/js/base-js.js' %}"></script>
<script src="{% static 'Associate_app/js/tbl-search-js.js' %}"></script>
<script src="{% static 'Associate_app/js/tree-list-js.js' %}"></script>
<script src="{% static 'Associate_app/js/tags.js' %}"></script>
<script src="{% static 'Associate_app/js/js_imports/datatable.js' %}"></script>
