{% extends 'login.html' %}
{% load static %}
{% block bodyblock %} 
    <h2 style="color: #bf0711;">Forgot your password?</h2>
    <!-- <p>Enter your registered email address.</p> -->
    <form action="." method="post">
        <div class="login-input-holder">
            <small style="color: gray;">Please enter your registered email address and we will mail you instructions on how to reset the password.</small>
        </div>
        <div class="login-input-holder">
            <input type="email" name="email" autocomplete="email" maxlength="50" required id="id_email" placeholder="Registered Email ID" class="forgot-input" >
        </div>
        <div class="login-input-holder">
            <input class="login-btn" type="submit" value="Send Reset Link" style="width: 97%;">
            <a href="{% url 'report_app:login' %}">Cancel</a>
        </div>
        
        {% csrf_token %}
    </form>
{% endblock %} 