{% extends 'login.html' %}
{% load static %}
{% block bodyblock %} 
    <h2 style="color: #bf0711;">Reset your password</h2>
    {% if validlink %}
        <!-- <p>Please enter your new password:</p> -->
        <form action="." method="post">
            <!-- {{ form.as_p }} -->
            <div class="login-input-holder">
                <label for="">New Password</label>
                <input type="password" name="new_password1" autocomplete="new-password" required id="id_new_password1" class="forgot-input" minlength="8" maxlength="20">
                <span class="helptext"></span>
                <!-- <ul>
                    <li>Your password can’t be entirely numeric.</li>
                    <li>Your password must contain at least 8 characters.</li>
                    <li>Your password can’t be too similar to your other personal information.</li>
                    <li>Your password can’t be entirely numeric.</li>
                </ul> -->
            </div>
            <div class="login-input-holder">
                <label for="">Confirm Password</label>
                <input type="password" name="new_password2" autocomplete="new-password" required id="id_new_password2" class="forgot-input">
                <span id='message'></span>
            </div>
            <!-- <ul class="errorlist">
                <li></li>
            </ul> -->
            {% csrf_token %}
            <p><input type="submit" value="Change my password" class="login-btn" style="width: 97;" /></p>
        </form>
    {% else %}
        <p>The password reset link is invalid. Please request a new password reset link.</p>
    {% endif %}

    <script>
        $(document).ready(function(){
            $('#id_new_password1, #id_new_password2').on('keyup', function () {
            if ($('#id_new_password1').val() != $('#id_new_password2').val()) {
                $('#message').html('Password Mismatch.').css('color', 'red');
            } else 
                $('#message').html('').css('color', 'green');
            });
        });
    </script>
{% endblock %}