@import "basecss.css";
/* .tags-input {
    border: 1px solid #ddd;
} */

.tags-input .tag {
    font-size: 85%;
    padding: 0.5em 0.75em;
    margin: 0.25em 0.1em;
    /* display: inline-block; */
    background-color: var(--sidebar-forecolor);
    transition: all 0.1s linear;
    cursor: pointer;
}

/* .tags-input .tag:hover {
    background-color: #3af;
    color: white;
} */

.tags-input .tag .close::after {
    content: '×';
    font-weight: bold;
    font-size: 12px;
    /* display: inline-block; */
    transform: scale(1.4);
    margin-left: 0.75em;
}

.tags-input .tag .close:hover::after {
    color: red;
}

.tags-input .main-input {
    border: 0 !important;
    outline: 0;
    padding: 0.5em 0.1em;
}