{% extends 'base.html' %}
{% load static %}

{% block titleblock %} | Reports {% endblock %}

{% block tabcontentblock %}



    <div class="tab_container" style="padding:15px;overflow: auto;" id="tab_content">
        <fieldset style="    padding: 20px;
        border-color: aliceblue;" id="response_header">
            <legend style="color: #bf0711;font-weight: bold;">RESPONSE HEADERS</legend>
            <form id="reports_form" method="post">
                {% csrf_token %}
                {% include 'selectors/dimension.html' %}
                {% include 'selectors/report_type.html' %}
                {% include 'selectors/frequency.html' %}
                <div id="end_date_div" class="response-container" style="width: 33%;display: none;">
                    <div class="reponse-inner-header" style="width: 25%"><label for="">End Date : </label></div>
                    <div class="response-inner-content">
                        <div>
                            <input type="date" name="end_date" id="end_date" style="width: inherit;">
                        </div>

                    </div>
                </div>

            </form>

            <!-- <span id="clicktest"></span> -->
            <button type="submit" class="basic-save-btn" id="render_table" name="go_button" form="reports_form">GO
            </button>


        </fieldset>

    </div>
    {% include 'utilities/table/loader.html' %}

    <input type="checkbox" id="partial_select_await" hidden>

    <div id="table_div"></div>
    <script>
        $(document).ready(function(){
          $("#render_table").click(function(){
                $('.checklist-dropdown').css('display', 'none');
          });
          
        $(document).keyup(function () {

            if (event.keyCode === 27) {
                $('.checklist-dropdown').css('display', 'none')
            }
        });
        $(window).click(function (e) {
            if (e.target.id === 'checkboxes' || e.target.id === 'r_type' || e.target.id === 'f_type' || e.target.id === 'type_code' || e.target.id === 'freq_code' ) {
                $('.checklist-dropdown').css('display', 'none')
            }
        });
         
        });
        </script>
    <script>
       

        function start_loading() {
            document.getElementById('table_div').style.display = 'none'
            document.getElementById('loader').style.display = 'block'
            console.log("start")
        }

        function stop_loading() {
        
            document.getElementById('loader').style.display = 'none'
            document.getElementById('table_div').style.display = 'block'
            $('#main_table').dataTable({
                scrollX: "true",
                "autoWidth": true,
                "bsort":false,
                "ordering": false,
            });
          
        }

        var csrf_token = '{{ csrf_token }}'
        $("#reports_form").on("submit", function (e) {
            let class_name_map = new Map();
            let selected_field = [];
            let fd = new FormData();
            $('#checkboxes input:checked').each(function () {
                if ($(this).attr('id').includes('--')) {
                    let checkbox_name = $(this).attr('id').split('--')[3];
                    let local_class_name = $(this).attr('class');
                    if (local_class_name != null) {
                        if (!class_name_map[local_class_name]) {
                            class_name_map[local_class_name] = [checkbox_name];
                        } else {
                            selected_field = class_name_map[local_class_name];
                            if (!selected_field.includes(checkbox_name)) {
                                selected_field.push(checkbox_name);
                            }
                        }
                    }
                }
            });
            start_loading()
            let modalDiv = $("#table_div");
            fd.append('csrfmiddlewaretoken', csrf_token)
            fd.append('report type', document.getElementById('type_code').value)
            fd.append('frequency', document.getElementById('freq_code').value)
            fd.append('dimensions', JSON.stringify(class_name_map))
            fd.append('end_date', document.getElementById('end_date').value)
            $.ajax({
                url: '/reports/',
                method: 'POST',
                data: fd,
                dataType: 'text',
                contentType: false,
                processData: false,
                success: function (data) {
                    if (data) {

                        modalDiv.html(data);
                        stop_loading()
                    } else {
                        alert("ajax call not success.");
                    }
                },
                fail: function () {
                    alert('request failed');
                }
            });
            e.preventDefault();
        });
    </script>
    <script src="{% static 'js/reports.js' %}"></script>
{% endblock %}