{% extends 'base.html' %}
{% load static %}
{% load define %}
{% load get_sub_field %}
{% load get_dict_value %}
{% block titleblock %} | Reports {% endblock %}

{% block tabcontentblock %}



    <div class="tab_container" style="padding:15px;overflow: auto;" id="tab_content">
        <fieldset style="    padding: 20px;
        border-color: aliceblue;" id="response_header">
            <legend style="color: #bf0711;font-weight: bold;">RESPONSE HEADERS</legend>
            <form id="payroll_form" method="post">
                {% csrf_token %}
                <div class="response-container">
                    <div class="reponse-inner-header"><label for="">Dimensions : </label></div>
                    <div class="response-inner-content" id="checkboxes">
                        {% for dimension in dimensions %}
                            <div class="multiselect">
                                <div class="selectBox"
                                     onclick="showCheckboxes('div--{{ dimension.name }}--{{ forloop.counter }}')">
                                    <select name="dimensions" class="dimensions"
                                            id="dimensions--{{ forloop.counter }}" style="font-size: inherit">
                                        <option>{{ dimension.name }}</option>
                                    </select>
                                    <div class="overSelect"></div>
                                </div>
                                <div id="div--{{ dimension.name }}--{{ forloop.counter }}" class="checklist-dropdown"
                                     style="display: none;">
                                    {% define dimension.fk_table.db_table_name|get_sub_field as query_set %}
                                    {% for name,fk in query_set.query_set.items %}
                                        <label for="{{ name }}--{{ forloop.counter }}--{{ forloop.parentloop.counter }}"
                                               style="display: block; ">
                                            <input type="checkbox" class="{{ dimension.name }}"
                                                   name="{{ name }}--{{ query_set.pk_set|get_dict_value:name }}--{{ dimension.name }}"
                                                   id="{{ dimension.name }}--{{ fk }}--{{ query_set.pk_set|get_dict_value:name }}"
                                                   onclick="fetch_dependent_field(this.id)"/> {{ name }}</label>
                                    {% endfor %}
                                </div>
                            </div>

                        {% endfor %}
                    </div>

                </div>
                <div class="response-container" style="width: 37%;">
                    <div class="reponse-inner-header"><label for="">Report Type : </label></div>
                    <div class="response-inner-content">
                        <div>
                            <select data-placeholder="Begin typing a name to filter..."
                                    class='sub_table' name="report type" id="type_code">
                                {% for report in report_types %}
                                    <option value="{{ report.name }}" style="outline: none !important;">
                                        {{ report.name }}
                                    </option>
                                {% endfor %}
                            </select>
                        </div>

                    </div>
                </div>
                <div class="response-container" style="width: 37%;">
                    <div class="reponse-inner-header"><label for="">Frequency : </label></div>
                    <div class="response-inner-content">
                        <div>
                            <select name="frequency" id="freq_code" class='sub_table'>
                                {% for frequency in frequencies %}
                                    <option value="{{ frequency.name }}"
                                            style="outline: none !important;">{{ frequency.name }}</option>
                                {% endfor %}
                            </select>
                        </div>

                    </div>
                </div>
            </form>


            <button type="submit" class="basic-save-btn" id="render_table" name="go_button">GO</button>


        </fieldset>

    </div>
    <input type="checkbox" id="partial_select_await" hidden>


    <div class="table-div">
        <a href="" class="export-btn">Export <i class="fas fa-file-export"></i></a>

        <table class="data_table" id="main_table" style="overflow-x: auto;white-space: nowrap;">

            <thead>
            <tr>
                <th>UID</th>
                <th>Employee Name</th>
                <th>Entity</th>
                <th>Vendor</th>
                <th>Department</th>
                <th>Function</th>
                <th>Team</th>
                <th>Sub Team</th>
                <th>Region</th>
                <th>State</th>
                <th>Location</th>
                <th>Employee Type</th>
                <th>Gender</th>
                <th>CTC Slabs</th>
                <th>Employment Tenure</th>
                <th>Reason For Exit</th>
                <th>Exit Type</th>
                <th>Age</th>

            </tr>
            </thead>
            <tbody>
            <tr>
                <td>Dummy UID</td>
                <td>Dummy Employee Name</td>
                <td>Dummy Entity</td>
                <td>Dummy Vendor</td>
                <td>Dummy Department</td>
                <td>Dummy Function</td>
                <td>Dummy Team</td>
                <td>Dummy Sub Team</td>
                <td>Dummy Region</td>
                <td>Dummy State</td>
                <td>Dummy Location</td>
                <td>Dummy Employee Type</td>
                <td>Dummy Gender</td>
                <td>Dummy CTC Slabs</td>
                <td>Dummy Employment Tenure</td>
                <td>Dummy Reason For Exit</td>
                <td>Dummy Exit Type</td>
                <td>Dummy Age</td>
            </tr>
            </tbody>
        </table>
    </div>

    <script>
        $(".chosen-select").chosen({
            no_results_text: "Oops, nothing found!"
        })
        $(".chosen-search-input").each(function (i, v) {
            v.style.width = '200px'
        });
        $(".chosen-choices").each(function (i, v) {
            v.style.width = '300px'
        });
    </script>

    <script>
        $('#main_table').dataTable({
            scrollX: "true",
        });
        $("#main_table").hover(function () {
            $('.dataTables_scrollBody').attr('style', 'overflow: scroll !important');
        });
        $("#main_table").mouseout(function () {
            $('.dataTables_scrollBody').attr('style', 'overflow: hidden !important');
        });
        $("#payroll_form").on("submit", function (e) {
            $.post('/payroll/', $(this).serialize(), function (data) {
                $('.message').html(data.message);
            });
            e.preventDefault();
        });

    </script>


    <script>
        var expanded = false;

        function showCheckboxes(element_id) {
            var all = document.getElementsByClassName("checklist-dropdown");
            var len = all.length;
            for (i = 0; i < len; i++) {
                all[i].style.display = "none";
                expanded = false
            }
            var checkboxes = document.getElementById(element_id);
            if (!expanded) {
                checkboxes.style.display = "block";
                expanded = true;
            } else {
                checkboxes.style.display = "none";
                expanded = false;
            }
        }

    </script>

    <script>
        $(document).ready(function () {
            $('.dataTables_scrollBody').attr('style', 'overflow: hidden !important');
            $(document).keyup(function (e) {
                if (e.keyCode == 27) {
                    var all = document.getElementsByClassName("checklist-dropdown");
                    var len = all.length;
                    for (i = 0; i < len; i++) {
                        all[i].style.display = "none";
                    }
                }
            });
            $(window).click(function (e) {
                var all = document.getElementsByClassName("checklist-dropdown");
                var len = all.length;
                for (i = 0; i < len; i++) {
                    if (e.target.id == 'tab_content' || e.target.id == 'response_header' || e.target.id == 'payroll_form') {
                        all[i].style.display = "none";
                    }

                }
            });


            $(document).on("click", ".MultiCheckBox", function () {


                var detail = $(this).next();
                detail.show();
            });

            $(document).on("click", ".MultiCheckBoxDetailHeader input", function (e) {
                e.stopPropagation();
                var hc = $(this).prop("checked");
                $(this).closest(".MultiCheckBoxDetail").find(".MultiCheckBoxDetailBody input").prop("checked", hc);
                $(this).closest(".MultiCheckBoxDetail").next().UpdateSelect();
            });

            $(document).on("click", ".MultiCheckBoxDetailHeader", function (e) {
                var inp = $(this).find("input");
                var chk = inp.prop("checked");
                inp.prop("checked", !chk);
                $(this).closest(".MultiCheckBoxDetail").find(".MultiCheckBoxDetailBody input").prop("checked", !chk);
                $(this).closest(".MultiCheckBoxDetail").next().UpdateSelect();
            });

            $(document).on("click", ".MultiCheckBoxDetail .cont input", function (e) {
                e.stopPropagation();
                $(this).closest(".MultiCheckBoxDetail").next().UpdateSelect();

                var val = ($(".MultiCheckBoxDetailBody input:checked").length == $(".MultiCheckBoxDetailBody input").length)
                $(".MultiCheckBoxDetailHeader input").prop("checked", val);
            });

            $(document).on("click", ".MultiCheckBoxDetail .cont", function (e) {
                var inp = $(this).find("input");
                var chk = inp.prop("checked");
                inp.prop("checked", !chk);

                var multiCheckBoxDetail = $(this).closest(".MultiCheckBoxDetail");
                var multiCheckBoxDetailBody = $(this).closest(".MultiCheckBoxDetailBody");
                multiCheckBoxDetail.next().UpdateSelect();

                var val = ($(".MultiCheckBoxDetailBody input:checked").length == $(".MultiCheckBoxDetailBody input").length)
                $(".MultiCheckBoxDetailHeader input").prop("checked", val);
            });

            $(document).mouseup(function (e) {
                var container = $(".MultiCheckBoxDetail");
                if (!container.is(e.target) && container.has(e.target).length === 0) {
                    container.hide();
                }
            });
        });

        var defaultMultiCheckBoxOption = {width: '220px', defaultText: 'Select Below', height: '200px'};

        jQuery.fn.extend({
            CreateMultiCheckBox: function (options) {

                var localOption = {};
                localOption.width = (options != null && options.width != null && options.width != undefined) ? options.width : defaultMultiCheckBoxOption.width;
                localOption.defaultText = (options != null && options.defaultText != null && options.defaultText != undefined) ? options.defaultText : defaultMultiCheckBoxOption.defaultText;
                localOption.height = (options != null && options.height != null && options.height != undefined) ? options.height : defaultMultiCheckBoxOption.height;

                this.hide();
                this.attr("multiple", "multiple");
                var divSel = $("<div class='MultiCheckBox'>" + localOption.defaultText + "<span class='k-icon k-i-arrow-60-down'><svg aria-hidden='true' focusable='false' data-prefix='fas' data-icon='sort-down' role='img' xmlns='http://www.w3.org/2000/svg' viewBox='0 0 320 512' class='svg-inline--fa fa-sort-down fa-w-10 fa-2x'><path fill='currentColor' d='M41 288h238c21.4 0 32.1 25.9 17 41L177 448c-9.4 9.4-24.6 9.4-33.9 0L24 329c-15.1-15.1-4.4-41 17-41z' class=''></path></svg></span></div>").insertBefore(this);
                divSel.css({"width": localOption.width});

                var detail = $("<div class='MultiCheckBoxDetail'><div class='MultiCheckBoxDetailHeader'><input type='checkbox' class='mulinput' value='-1982' /><div>Select All</div></div><div class='MultiCheckBoxDetailBody'></div></div>").insertAfter(divSel);
                detail.css({"width": parseInt(options.width) + 10, "max-height": localOption.height});
                var multiCheckBoxDetailBody = detail.find(".MultiCheckBoxDetailBody");

                this.find("option").each(function () {
                    var val = $(this).attr("value");

                    if (val == undefined)
                        val = '';

                    multiCheckBoxDetailBody.append("<div class='cont'><div><input type='checkbox' class='mulinput' value='" + val + "' /></div><div>" + $(this).text() + "</div></div>");
                });

                multiCheckBoxDetailBody.css("max-height", (parseInt($(".MultiCheckBoxDetail").css("max-height")) - 28) + "px");
            },
            UpdateSelect: function () {
                var arr = [];

                this.prev().find(".mulinput:checked").each(function () {
                    arr.push($(this).val());
                });

                this.val(arr);
            },
        });
    </script>

    <script>
        $(document).ready(function () {
            let elements = document.getElementsByClassName("MultiCheckBoxDetail")
            $.each(elements, function (i, v) {
                v.style.position = 'relative';
                v.style.background = 'white';
                v.style.width = '230px';
                v.style.zIndex = '9'
            });
        });
    </script>
    <script src="{% static 'js/filtering.js' %}"></script>
{% endblock %}